<body>
<h1>Battle of the Titans</h1>
  <form name="input" action="/names" method="post">
    Player 1: <input type="text" name="Player1" id="player1">
    <br>
    Player 2: <input type="text" name="Player2" id="player2">
    <br>
              <input type="submit" value="Start">
  </form>
  <br>
  <img src="http://4.bp.blogspot.com/-iuqpRTMjZg0/V-7uxpgprXI/AAAAAAAAhDc/CuAf6t8omesMPbYW3I_SSEGsACd2fy68ACK4B/s1600/Trump%2BKO%2BClinton.gif"
</body>

<style>
  .h1 {color:#DAA520;}
  .form {font-size: 20px;}
  #player1{color:blue;}
  #player2{color:red;}
</style>
