<html>
  <h1>Players' names are Player1: <%= $Player1.name %>, Player2: <%= $Player2.name %></h1>
  <p><%= $Player2.name %>'s hit points are : 23</p>
  <p id="attack"></p>
  <button><a href="/attack">Attack</a></button>
</html>
